#navbar {
    overflow: hidden;
    position: relative;
    #navbar-center {
        padding: 20px 30%;
        text-align: center;
        @include easeOut();
        a {
            color: #fff;
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            padding: 1rem 0.5rem;
            font-weight: 300;
            text-decoration: none;
            &:hover,
            &:focus {
                background: none;
                color: $secondary-color;
            }
        }
        .active {
            color: $secondary-color;
        }
    }
}

.navbar-on-scroll {
    padding: 10px 30% !important;
    background: rgba(0, 0, 0, 0.7);
}

// menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        border: #000 .5px solid;
        background: set-text-color($primary-color);
        @include easeOut;
    }
    //Rotate Into X(cross) with Menu Lines
    &.close {
        transform: rotate(180deg);
        .btn-line {
            // line 1- rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            //line 2- hide
            &:nth-child(2) {
                opacity: 0;
            }
            //line 3- rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

//Munu Overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        &.show {
            //slide in from top
            transform: translate3d(0, 0, 0);
        }
    }
    //branding side
    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        &.show {
            //slide in from bottom
            transform: translate3d(0, 0, 0);
        }
        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        &.show {
            //slide in from right
            transform: translate3d(0, 0, 0);
        }
        &.current>a {
            color: $secondary-color;
        }
    }
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;
        &:hover {
            color: $secondary-color;
        }
    }
}

//delay each nav item slide by 0.1 second
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x*0.1s;
    }
}