/* Large Devices like Desktops and laptops */

//min-width 1200 px        
@include mediaXl {}


/* Mediam Devices like Landscape Tablets and medium desktops*/

//max-width 1199px and min width 992px
@include mediaLg {
    #contact .boxes div {
        font-size: 1.5rem;
    }
}


/* small devices like protrait tablets and small desktops*/

//max width 991px and min width 768px
@include mediaMd {}


/* extra small devices like landscape phones and portrait tablets */

//max width 767px
@include mediaSm {
    section {
        align-items: center;
        text-align: center;
        .lg-heading {
            font-size: 4rem;
        }
    }
    #home {
        .sm-heading {
            font-size: 1.4em;
        }
        .icons {
            a {
                font-size: 1em;
            }
        }
        .headingWrapper {
            margin-top: 10vh;
        }
    }
    .header {
        font-size: 60px;
    }
    .bio-heading h3 {
        font-size: 60px !important;
    }
    .about-info .bio-content p {
        font-size: 1.4rem !important;
    }
    .menu-branding .portrait {
        background: url('../img/portrait_small.jpg');
        width: 150px;
        height: 150px;
    }
    .menu-nav .nav-link {
        font-size: 30px;
        padding: 5px 0 0 0;
    }
    #contact .boxes div {
        font-size: 1.5rem;
    }
}


/* extra small devices  */

//max width 480px
@include mediaXs {
    section {
        .lg-heading {
            font-size: 2rem;
        }
        .sm-heading {
            font-size: 1em;
        }
    }
    #home {
        .sm-heading {
            font-size: 1em;
        }
        .icons {
            a {
                font-size: 0.7em;
            }
        }
    }
    .header {
        font-size: 35px;
    }
    .bio-heading h3 {
        font-size: 45px !important;
    }
    .about-info {
        .bio-content p,
        .bio-link a {
            font-size: 1rem !important;
        }
    }
    .menu-branding .portrait {
        width: 130px;
        height: 130px;
    }
    .menu-nav .nav-link {
        font-size: 20px;
    }
    #contact .boxes div {
        font-size: 1.5rem;
    }
    #work .projects {
        //display: grid;
        //grid-gap: 0.7rem;
        //padding: 0;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
        img {
            height: 150px;
        }
        .item .btn-light,
        .item .btn-dark {
            font-size: 0.8rem;
        }
    }
    #contact .boxes div {
        font-size: 1rem;
    }
    .menu-btn {
        right: 15px;
    }
}


/* extra small devices  */

//max width 320px
@include mediaXXs {
    #home {
        .sm-heading {
            font-size: 0.8em;
        }
        .icons {
            a {
                font-size: 0.5em;
            }
        }
    }
    section {
        .lg-heading {
            font-size: 1.5rem;
        }
        .sm-heading {
            font-size: 0.8em;
        }
    }
    .header {
        font-size: 29px;
    }
}