@import 'config';
@import 'menu';
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 500;
    &.lg-heading {
        font-size: 6rem;
    }
}

a {
    color: $grayLight;
    text-decoration: none;
}

.text-link {
    &:hover,
    &:focus {
        color: #000;
        @include shade(text, $offWhite, $grayLight, 10, 135deg, true);
        @include easeOut();
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

section {
    padding: 4rem;
    min-height: 100vh;
    box-shadow: inset 0 0 0 100vh rgba($primary-color, $background-opacity);
}

#home {
    @include bgParallax();
    color: set-text-color($primary-color);
    background-image: $home-image;
    text-align: center;
    //box-shadow: inset 0 0 0 100vh rgba($primary-color, $background-opacity);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover,
            &:focus {
                color: #000;
                @include shade(text, $secondary-color, #fff, 10, 135deg, true);
                @include easeOut();
            }
        }
    }
}

.header {
    display: inline-block;
    text-align: center;
    font-family: 'Francois One', Helvetica, Arial, sans-serif;
    font-size: 96px;
    margin-top: 20vh;
    color: $offWhite;
    text-decoration: none;
    @include outline($grayLight);
    @include easeOut();
    //transition: all 400ms ease-in-out;
    &:hover {
        color: $secondary-color;
    }
}

// effect for pushing the text down onto the page
// default is the letters emerging from the page and merging back down on hover
.header--pushDown {
    @include shade(text, $secondary-color, #333, 10, 135deg, true); //#aaa
    &:hover {
        transform: translate(9px, 9px);
        @include outline($offWhite); //grayLight
    }
}

// creates a shadow effect, rather than a raised lettering effect
// simply by adjusting the translate position a little
.header--shadow {
    &:hover {
        transform: translate(5px, 0);
    }
    &.header--raiseUp {
        &:hover {
            transform: translate(-5px, 0);
        }
    }
}

#about {
    background: linear-gradient(to bottom, #7927b2, #fb3182);
    .main-heading {
        background: $grayLight;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        h1 {
            background: linear-gradient(to right, #7927b2, #fb3182);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
        }
    }
    .small-heading {
        @extend .main-heading;
        margin: 10px 0;
        h2 {
            @extend h1;
        }
    }
    .about-info {
        .bio-heading {
            @extend .main-heading;
            margin: auto;
            h3 {
                @extend h1;
                font-size: 90px;
                font-weight: bold;
            }
        }
        .bio-content {
            @extend .main-heading;
            max-width: 900px;
            margin: 0 auto;
            margin-top: 30px;
            p {
                @extend h1;
                font-size: 1.5rem;
            }
        }
        .bio-link {
            @extend .main-heading;
            margin: auto;
            margin-top: 30px;
            a {
                @extend h1;
                font-size: 2rem;
                &:hover,
                &:focus {
                    @include shade(text, $secondary-color, #000, 10, 135deg, true);
                    @include easeOut();
                }
            }
        }
    }
}

//work/projects
#work {
    //background: linear-gradient(to bottom right, lime, lightblue) 50% 50% / 100% 100% no-repeat;
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    .sm-heading {
        margin-bottom: 20px;
    }
    .projects {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
        img {
            width: 100%;
            height: 224px;
            border: 3px set-text-color(#fff) solid;
            &:hover {
                opacity: 0.5;
                border-color: $secondary-color;
                @include easeOut;
            }
        }
    }
}

// contact page
#contact {
    min-height: calc(100vh - 60px);
    @include bgParallax();
    background-color: $primary-color;
    background-image: url(../img/world-map.png);
    color: set-text-color($primary-color);
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 1rem;
        div {
            font-size: 2rem;
            border: 3px set-text-color($primary-color) solid;
            padding: 1.5rem 2.5rem;
            margin-bottom: 3rem;
            @include easeOut;
            &:hover {
                padding: 0.5rem 1.5rem;
                background: $secondary-color;
                color: set-text-color($secondary-color);
                span {
                    color: set-text-color($secondary-color);
                }
            }
        }
    }
}

//button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    @include easeOut();
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'responsive';