#navbar {
  overflow: hidden;
  position: relative; }
  #navbar #navbar-center {
    padding: 20px 30%;
    text-align: center;
    transition: all 0.5s ease-out; }
    #navbar #navbar-center a {
      color: #fff;
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0.5rem;
      font-weight: 300;
      text-decoration: none; }
      #navbar #navbar-center a:hover, #navbar #navbar-center a:focus {
        background: none;
        color: #34c6d3; }
    #navbar #navbar-center .active {
      color: #34c6d3; }

.navbar-on-scroll {
  padding: 10px 30% !important;
  background: rgba(0, 0, 0, 0.7); }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    border: #000 .5px solid;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #34c6d3; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #34c6d3; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #34c6d3; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1, #about .small-heading h2, #about .about-info .bio-heading h3, #about .about-info .bio-content p, #about .about-info .bio-link a,
h2,
h3 {
  margin: 0;
  font-weight: 500; }
  h1.lg-heading, #about .small-heading h2.lg-heading, #about .about-info .bio-heading h3.lg-heading, #about .about-info .bio-content p.lg-heading, #about .about-info .bio-link a.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }

a {
  color: #cac6c5;
  text-decoration: none; }

.text-link:hover, .text-link:focus {
  color: #000;
  text-shadow: 1.5px 1.5px 0 #cac6c5, 0px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5, 0.77782px 0.77782px 0 #e7e7e7, 1.55563px 1.55563px 0 #e7e7e7, 2.33345px 2.33345px 0 #e7e7e7, 3.11127px 3.11127px 0 #e7e7e7, 3.88909px 3.88909px 0 #e7e7e7, 4.6669px 4.6669px 0 #e7e7e7, 5.44472px 5.44472px 0 #e7e7e7, 6.22254px 6.22254px 0 #e7e7e7, 7.00036px 7.00036px 0 #e7e7e7, 7.77817px 7.77817px 0 #e7e7e7;
  transition: all 0.5s ease-out; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #34c6d3; }

section {
  padding: 4rem;
  min-height: 100vh;
  box-shadow: inset 0 0 0 100vh rgba(68, 68, 68, 0.6); }

#home {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  background-image: url(../img/background.jpg);
  text-align: center; }
  #home .icons {
    margin-top: 1rem; }
    #home .icons a {
      padding: 0.4rem; }
      #home .icons a:hover, #home .icons a:focus {
        color: #000;
        text-shadow: 1.5px 1.5px 0 #fff, 0px 1.5px 0 #fff, -1.5px -1.5px 0 #fff, -1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff, 1.5px -1.5px 0 #fff, 0.77782px 0.77782px 0 #34c6d3, 1.55563px 1.55563px 0 #34c6d3, 2.33345px 2.33345px 0 #34c6d3, 3.11127px 3.11127px 0 #34c6d3, 3.88909px 3.88909px 0 #34c6d3, 4.6669px 4.6669px 0 #34c6d3, 5.44472px 5.44472px 0 #34c6d3, 6.22254px 6.22254px 0 #34c6d3, 7.00036px 7.00036px 0 #34c6d3, 7.77817px 7.77817px 0 #34c6d3;
        transition: all 0.5s ease-out; }

.header {
  display: inline-block;
  text-align: center;
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  font-size: 96px;
  margin-top: 20vh;
  color: #e7e7e7;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5;
  transition: all 0.5s ease-out; }
  .header:hover {
    color: #34c6d3; }

.header--pushDown {
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.77782px 0.77782px 0 #34c6d3, 1.55563px 1.55563px 0 #34c6d3, 2.33345px 2.33345px 0 #34c6d3, 3.11127px 3.11127px 0 #34c6d3, 3.88909px 3.88909px 0 #34c6d3, 4.6669px 4.6669px 0 #34c6d3, 5.44472px 5.44472px 0 #34c6d3, 6.22254px 6.22254px 0 #34c6d3, 7.00036px 7.00036px 0 #34c6d3, 7.77817px 7.77817px 0 #34c6d3; }
  .header--pushDown:hover {
    transform: translate(9px, 9px);
    text-shadow: 1.5px 1.5px 0 #e7e7e7, -1.5px -1.5px 0 #e7e7e7, -1.5px -1.5px 0 #e7e7e7, -1.5px 1.5px 0 #e7e7e7, 1.5px -1.5px 0 #e7e7e7; }

.header--shadow:hover {
  transform: translate(5px, 0); }

.header--shadow.header--raiseUp:hover {
  transform: translate(-5px, 0); }

#about {
  background: linear-gradient(to bottom, #7927b2, #fb3182); }
  #about .main-heading, #about .small-heading, #about .about-info .bio-heading, #about .about-info .bio-content, #about .about-info .bio-link {
    -webkit-background: #cac6c5;
    -moz-background: #cac6c5;
    background: #cac6c5;
    -webkit-width: fit-content;
    -moz-width: fit-content;
    width: fit-content;
    -webkit-height: fit-content;
    -moz-height: fit-content;
    height: fit-content;
    -webkit-padding: 10px;
    -moz-padding: 10px;
    padding: 10px; }
    #about .main-heading h1, #about .small-heading h1, #about .about-info .bio-heading h1, #about .about-info .bio-content h1, #about .about-info .bio-link h1, #about .small-heading h2, #about .about-info .bio-heading .small-heading h2, #about .small-heading .about-info .bio-heading h2, #about .about-info .bio-content .small-heading h2, #about .small-heading .about-info .bio-content h2, #about .about-info .bio-link .small-heading h2, #about .small-heading .about-info .bio-link h2, #about .about-info .bio-heading h3, #about .about-info .bio-content p, #about .about-info .bio-link a {
      background: linear-gradient(to right, #7927b2, #fb3182);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase; }
  #about .small-heading {
    margin: 10px 0; }
  #about .about-info .bio-heading {
    margin: auto; }
    #about .about-info .bio-heading h3 {
      font-size: 90px;
      font-weight: bold; }
  #about .about-info .bio-content {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px; }
    #about .about-info .bio-content p {
      font-size: 1.5rem; }
  #about .about-info .bio-link {
    margin: auto;
    margin-top: 30px; }
    #about .about-info .bio-link a {
      font-size: 2rem; }
      #about .about-info .bio-link a:hover, #about .about-info .bio-link a:focus {
        text-shadow: 1.5px 1.5px 0 #000, 0px 1.5px 0 #000, -1.5px -1.5px 0 #000, -1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px -1.5px 0 #000, 0.77782px 0.77782px 0 #34c6d3, 1.55563px 1.55563px 0 #34c6d3, 2.33345px 2.33345px 0 #34c6d3, 3.11127px 3.11127px 0 #34c6d3, 3.88909px 3.88909px 0 #34c6d3, 4.6669px 4.6669px 0 #34c6d3, 5.44472px 5.44472px 0 #34c6d3, 6.22254px 6.22254px 0 #34c6d3, 7.00036px 7.00036px 0 #34c6d3, 7.77817px 7.77817px 0 #34c6d3;
        transition: all 0.5s ease-out; }

#work {
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22)); }
  #work .sm-heading {
    margin-bottom: 20px; }
  #work .projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    #work .projects img {
      width: 100%;
      height: 224px;
      border: 3px #000 solid; }
      #work .projects img:hover {
        opacity: 0.5;
        border-color: #34c6d3;
        transition: all 0.5s ease-out; }

#contact {
  min-height: calc(100vh - 60px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444;
  background-image: url(../img/world-map.png);
  color: #fff; }
  #contact .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem; }
    #contact .boxes div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      transition: all 0.5s ease-out; }
      #contact .boxes div:hover {
        padding: 0.5rem 1.5rem;
        background: #34c6d3;
        color: #000; }
        #contact .boxes div:hover span {
          color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  transition: all 0.5s ease-out; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #34c6d3;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }
